@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


.fade-in {
    animation: fadeIn 0.25s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(4px); }
    to   { opacity: 1; transform: translateY(0); }
}
